<form>
    <h3>{{localize "COMPENDIUM-PERMISSIONS.ABOUT.Title"}}</h3>
    <hr />
    <div>
        <p>
            <b>v{{version}}</b>, {{localize "COMPENDIUM-PERMISSIONS.ABOUT.CreatedBy"}} <em>Geekswordsman</em></b>
        </p>
        <p>{{localize "COMPENDIUM-PERMISSIONS.ABOUT.SupportTheCreator"}}<br /><a href="https://ko-fi.com/geekswordsman">https://ko-fi.com/geekswordsman</a></p>
        <p>{{localize "COMPENDIUM-PERMISSIONS.ABOUT.ProjectPage"}}<br /><a href="https://gitlab.com/geekswordsman/COMPENDIUM-PERMISSIONS">https://gitlab.com/geekswordsman/COMPENDIUM-PERMISSIONS</a></p>
        <p>{{localize "COMPENDIUM-PERMISSIONS.ABOUT.Wiki"}}<br /><a href="https://gitlab.com/geekswordsman/COMPENDIUM-PERMISSIONS/-/wikis/home">https://gitlab.com/geekswordsman/COMPENDIUM-PERMISSIONS/-/wikis/home</a></p>
        <p>{{localize "COMPENDIUM-PERMISSIONS.ABOUT.LiveSupport"}}<br /><a href="https://discord.gg/foundryvtt">https://discord.gg/foundryvtt</a></p>
    </div>
</form>