<form id="permission-control">
    <p class="notes">{{localize "COMPENDIUM-PERMISSIONS.DIALOG.HeaderText"}}</p>
    <div class="form-group">
        <label>{{localize "COMPENDIUM-PERMISSIONS.DIALOG.AllPlayers"}}</label>
        <select name="default" data-dtype="Number"><option value="-1">{{localize "COMPENDIUM-PERMISSIONS.DIALOG.Default"}}</option>{{selectOptions options selected=-1 localize=true}}</select>
    </div>
    <hr />
    {{#each players}}
    <div class="form-group">
        <label>{{name}}</label>
        <select name="access-{{id}}" data-dtype="Number">{{selectOptions ../options selected=accessLevel localize=true}}</select>
    </div>
    {{/each}}
    <footer>
        <button type="button" data-action="close"><i class="far fa-save"></i> {{localize "Save Changes"}}</button>
    </footer>
</form>